﻿@model IPagedList<S00123499MovieActorApp.Models.Actor>

@foreach (var item in Model) 
{
    <ul style="display:inline-block;width:400px;border-style:solid;list-style-type:none;margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    background-color:#989898">
        <li>
               <img  src="@item.ImageUrl"  width="250" height="320" style="margin-top:20px;border:solid" />
               <h4>Name: @item.ActorName</h4>
               <p>Date of Birth: @item.DateOfBirth.ToShortDateString()</p>
               <p>Awards Won: @item.AwardsWon</p>
            
             <span style="margin:10px" class="btn btn-xs btn-danger" onclick="showMovie('@item.ActorId')">Movies</span>
            <span style="margin:10px" class="btn btn-xs btn-danger" onclick="CallDelete('@item.ActorId')">Delete Movie</span>
                
        </li>
    </ul>
    
}






    




