﻿<div class="form-group" style="margin-top: 10px">
                        Actor Name: 
                        <input type="text" name="ActorName" class="form-control" >
                        Date of Birth
                         <input type="date" name="DateOfBirth" class="form-control" >
                        Image Url
                         <input type="url"  name="ImageUrl" class="form-control" >
                        Awards Won
                         <input type="number"  name="AwardsWon" class="form-control" >
                </div>
       
                  <input type="submit"  value="Add" class="btn btn-success" style="margin-top: 5px;" />
           
     
