﻿@model S00123499MovieActorApp.Models.Actor
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Confirm deletion of @Model.ActorName</h4>
        </div>
    </div>
    <div class="panel-body">

        <fieldset>
            <legend>Details</legend>
            <p>Are you sure you want to delete  @Model.ActorName ?</p>
            <div>
                <img style="display:inline-block" src="@Model.ImageUrl" width="250" height="300"/>
                <form id="confirmDelete">
                <span class="btn  btn-danger" onclick="DeleteAactor('@Model.ActorId')">Delete Movie</span>
                 </form>
                
            </div>
        </fieldset>
        </div>
    </div>


