﻿@model S00123499MovieActorApp.Models.Actor
@using S00123499MovieActorApp.Models
@*@Ajax.ActionLink("Back to Actors","index",null,
                new AjaxOptions
                {
                    HttpMethod = "Get",
                    UpdateTargetId="actorsdiv",
                    InsertionMode = InsertionMode.Replace
                },
                    new { @class = "btn btn-info" })*@

 <span class="btn  btn-danger" onclick="backtoActor()">Back to Actors</span>

<h1>@Model.ActorName's Movies</h1>



<div id="details">


@foreach (var item in Model.ActorMovie)
{
    <ul style="display:inline-block;width:400px;list-style-type:none;height:800px; margin:20px;border-style:solid;">
    <li>
    <p>Movie Title: <b>@item.MMovie.MovieTitle</b></p>
    <p>Screen Name: <b>@item.CharacterName</b></p>
     <img  src="@Url.Content(@item.MMovie.ImageUrl)"  width="300" height="400" style="margin-top:20px;border:solid" />
         <br />
        
    <p>Star rating: </p>
    @for (int i = 0; i < @item.MMovie.Rating; i++)
    {
        <img src="~/Content/Images/Star.png" width="25" height="25" />
    }
        <br />
        <br />
        <p>Suitable for:</p>
         @if (@item.MMovie.AgeLimit == "18")
        {
            <img src="~/Content/Images/18.png" width="50" height="50" />
        }
        else
        {
           <img src="~/Content/Images/PG-LOGO.png" width="50" height="50" />
        }
       
</li>
        
    </ul>
     
}
   

<div id="movieForm">

</div>
<span class="btn btn-danger" onclick="createMovie()">Add Movie</span>
</div>




