﻿@model S00123499MovieActorApp.Models.Actor
@using S00123499MovieActorApp.Models
 @Html.ActionLink("Back to Actors","Index",null,new { @class = "btn btn-info" })

  <h1>Movies</h1> 


@foreach (var item in Model.Movies)
{
    <p>@item.MovieTitle</p> 
    <img  src="@item.ImageUrl"  width="300" height="300" style="margin-top:20px;border:solid" />
}


