﻿@model IPagedList<S00123499MovieActorApp.Models.Actor>

@{
    ViewBag.Title = "Index";
}


@using(Ajax.BeginForm(new AjaxOptions{
    HttpMethod="get",
    InsertionMode=InsertionMode.Replace,
    UpdateTargetId="actorsdiv"}))
    {
        <p>Search Actors By Name</p><input type="search" style="margin:5px" data-otf-autocomplete ="@Url.Action("AutoComplete")" name="sortOrder" />
        <input style="margin:5px" type="submit" class="btn btn-danger" value="Search By Name"/>
    }


<span class="btn btn-danger" onclick="createActor()">Create Actor</span>
Sort By
<span class="btn btn-danger" onclick="SortActor('name_desc')">Name Descending</span>
<span class="btn btn-danger" onclick="SortActor('awardsWon')">Awards</span>
<span class="btn btn-danger" onclick="SortActor('Date')">Age</span>

<div class="jumbotron" id="actorsdiv" style="margin:100px;width:1150px">


@foreach (var item in Model) 
{
    <ul style="display:inline-block;width:400px;border-style:solid;list-style-type:none;margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    background-color:#989898">
        <li>
               <img  src="@item.ImageUrl"  width="250" height="300" style="margin-top:20px;border:solid" />
               <h4>Name: @item.ActorName</h4>
               <p>Date of Birth: @item.DateOfBirth.ToShortDateString()</p>
               <p>Awards Won: @item.AwardsWon</p>
            
             <span style="margin:10px" class="btn btn-xs btn-danger" onclick="showMovie('@item.ActorId')">Movies</span>
            <span style="margin:10px" class="btn btn-xs btn-danger" onclick="CallDelete('@item.ActorId')">Delete Movie</span>
                
        </li>
    </ul>
    
}
    </div>


<div style="width:300px">
    <form id="CreateActor">
        <div id="formdiv"></div></form></div>




<div class="well">
<div class="pagedList" data-otf-target="#actorsdiv">
    @Html.PagedListPager(Model,Page=>Url.Action("Index",new {Page}),PagedListRenderOptions.TwitterBootstrapPager)
</div>
</div>


@section scripts
{
<script>

        function showMovie(ActorId) {
          
            $.ajax({
                type: "GET",
                url: '@Url.Action("Details")',
                data: { id: ActorId },
                success: function (data) {
                    $('#actorsdiv').html(data);
                    $('#actorsdiv').fadeIn("slow");
                    
                },
                error: function (data) {
                    $('#actorsdiv').html('<h3>Error in retrieval</h3>');
                }
            });
        }



    function CallDelete(ActorId) {

        $.ajax({
            type: "GET",
            url: '@Url.Action("Delete")',
                data: { id: ActorId },
                success: function (data) {
                    $('#actorsdiv').html(data);
                    $('#actorsdiv').fadeIn("slow");

                },
                error: function (data) {
                    $('#actorsdiv').html('<h3>Error</h3>');
                }
            });
    }

    function DeleteAactor(ActorId) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteActor")',
            data: { id: ActorId },
            success: function (data) {
                $('#actorsdiv').html(data);
                $('#actorsdiv').fadeIn("slow");

            },
            error: function (data) {
                $('#actorsdiv').html('<h3>There was a Error in retrieval</h3>');
            }
        });
    }
    
    
   


    


        function SortActor(filter) {

            $.ajax({
                type: "GET",
                url: '@Url.Action("sortFilter")',
                data: { sortOrder: filter },
                success: function (data) {
                   $('#actorsdiv').html(data);
                    $('#actorsdiv').fadeIn("slow");

                },
                error: function (data) {
                    $('#actorsdiv').html('<h3>Error in retrieval</h3>');
                }
            });
        }



    

    function backtoActor() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("sortFilter")',
                success: function (data) {
                    $('#actorsdiv').hide();
                    $('#actorsdiv').html(data);
                    $('#actorsdiv').fadeIn("slow");

                },
                error: function (data) {
                    $('#actorsdiv').html('<h3>Error in retrieval</h3>');
                }
            });
        }


        function createActor() {

            $.ajax({
                type: "GET",
                url: '@Url.Action("Create")',
                success: function (data) {
                    $('#actorsdiv').hide();
                    $('#formdiv').html(data);
                    $('#formdiv').fadeIn("slow");

                },
                error: function (data) {
                    $('#actorsdiv').html('<h3>Error in retrieval</h3>');
                }
            });
        }

    function createMovie() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("CreateMovie")',
                success: function (data) {
                    //$('#details').hide();
                    $('#movieForm').html(data);
                    $('#movieForm').fadeIn("slow");

                },
                error: function (data) {
                    $('#actorsdiv').html('<h3>Error in retrieval</h3>');
                }
            });
        }




        $('#CreateActor').submit(function () {
           $.ajax({
                    url: '@Url.Action("CreateActor")',
                    type: "POST",
                    data: $(this).serialize(), 
                    success: function () {
                        toastr.warning('Actor Added');
                    },
                    error: function () {
                        toastr.info('Insert Worked');
                    }
                 });
        });

    


    $(function () {

            var AjaxFormSubmit = function () { 

                var $form = $(this); 
                var options = {       
                    url: $form.attr("action"),
                    type: $form.attr("method"),
                    data: $form.serialize()
                };


                $.ajax(options).done(function (data) { 
                    var $target = $($form.attr("data-otf-target")); 
                    $target.replaceWith(data); 

                });

                return false; 
            };

            var submitAutocompleteForm = function (event, ui) {
                var $input = $(this);
                $input.val(ui.item.label);
                var $form = $input.parents("form:first");
                $form.submit();
            };


            var createAutocomplete = function () {
                var $input = $(this);
                var options = {
                    source: $input.attr("data-otf-autocomplete"), 
                    select: submitAutocompleteForm 
                };

                $input.autocomplete(options); 
            };

            $("form[data-otf-ajax='true']").submit(AjaxFormSubmit); 

            $("input[data-otf-autocomplete]").each(createAutocomplete); 

        });




      

$(function() {      // ready event
            toastr.info('Full Refresh');
        });
 </script>
    
}

